stages:
   - build

variables:
    DEBIAN_FRONTEND: noninteractive
    DEBPKGS: bmake libgdbm-dev xz-utils
    APTARGS: --no-install-recommends

before_script:
    - apt-get -qq update && apt-get -qq -y $APTARGS install $DEBPKGS $CC
    - test "true" = "$CHECK_VG" && apt-get -qq -y $APTARGS install valgrind
    - $CC --version

.script: &build_script
    - ./configure --use-gdbm
    - bmake depend
    - bmake -j2
    - LD_LIBRARY_PATH=./build/lib ./build/bin/jcaslib
    - bmake examples
    - bmake dist
    - bmake check
    - test "true" = "$CHECK_VG" && bmake check-valgrind

build_gcc:
    stage: build
    only:
        - master
    image: gcc
    variables:
        CC: gcc
        CHECK_VG: "false"
    script: *build_script

build_clang:
    stage: build
    only:
        - master
    image: debian:stable
    variables:
        CC: clang
        CHECK_VG: "true"
    script: *build_script
