stages:
   - build

variables:
    DEBIAN_FRONTEND: noninteractive
    DEBPKGS: bmake libgdbm-dev xz-utils
    APTARGS: --no-install-recommends

before_script:
    - apt-get -qq update && apt-get -qq -y $APTARGS install $DEBPKGS $CC
    - $CC --version

.script: &build_script
    - ./configure --use-gdbm
    - bmake depend
    - bmake -j2
    - LD_LIBRARY_PATH=./build/lib ./build/bin/jcaslib
    - bmake examples
    - bmake dist
    - bmake check

build_gcc:
    stage: build
    only:
        - master
    image: gcc
    variables:
        CC: gcc
    script: *build_script

build_clang:
    stage: build
    only:
        - master
    image: debian:stable
    variables:
        CC: clang
    script: *build_script
