language: c

branches:
    only:
        - master

matrix:
    include:
        - os: linux
          sudo: false
          env:
              - LD_LIBRARY_PATH=./build/lib
          dist: trusty
          addons:
              apt:
                  packages:
                      - libgdbm-dev
                      - bmake
          compiler: gcc
          before_script:
              - ./configure --use-gdbm
        - os: linux
          sudo: false
          env:
              - LD_LIBRARY_PATH=./build/lib
              - CHECK_VG=true
          dist: trusty
          addons:
              apt:
                  packages:
                      - libgdbm-dev
                      - bmake
                      - valgrind
          compiler: clang
          before_script:
              - ./configure --use-gdbm
        - os: osx
          env:
              - DYLD_LIBRARY_PATH=./build/lib
          compiler: gcc
          install:
              - brew update --quiet
              - brew install bmake
        - os: osx
          env:
              - DYLD_LIBRARY_PATH=./build/lib
          compiler: clang
          install:
              - brew update --quiet
              - brew install bmake

script:
    - bmake depend
    - bmake -j2
    - bmake examples
    - bmake dist
    - ./build/bin/jcaslib
    - bmake check
    - test "true" = "$CHECK_VG" && bmake check-valgrind
