language: c

branches:
    only:
        - master

matrix:
    include:
        - os: linux
          sudo: false
          dist: trusty
          addons:
              apt:
                  packages:
                      - libgdbm-dev
                      - bmake
          compiler: gcc
          before_script:
              - ./configure --use-gdbm
        - os: linux
          sudo: false
          dist: trusty
          addons:
              apt:
                  packages:
                      - libgdbm-dev
                      - bmake
          compiler: clang
          before_script:
              - ./configure --use-gdbm
        - os: osx
          compiler: gcc
          install:
              - brew update --quiet
              - brew install bmake
        - os: osx
          compiler: clang
          install:
              - brew update --quiet
              - brew install bmake

script:
    - bmake depend
    - bmake -j2
    - bmake examples
    - bmake dist
    - LD_LIBRARY_PATH=./build/lib ./build/bin/jclib
    - bmake check
